<br>
<br>
<br>
<form action="index.php" method="post">
    <input type="hidden" name="controlador" value="login">
    <input type="hidden" name="metodo" value="validar">
    <table align="center">
        <tr>
            <th colspan="2">Acesso Restrito</th>
        </tr>
        <tr>
            <td>Usuario</td>
            <td><input type="text" name="usuario"></td>
        </tr>
        <tr>
            <td>Senha</td>
            <td><input type="password" name="senha"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="entrar"></td>
        </tr>
    </table>
</form>